.time{
    color: white;
    margin: 0;
    padding: 0 3vw;
    padding-top: 1vw;
    font-size: 1.5vw;
}

@media (max-width: 900px) {
    .time {
        font-size: 2.5vw;
        text-align: center;
    }
}
