.week-info{
    display: flex;
    flex-direction: row;
    background-color: $secondary-color; 
    padding: 1.5vw;
    border-radius: 8px;
    margin: 1vw 3vw

}

.week-t-list{
    margin: 1vw;
    width: 100%;
}
.week-t-item{
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.week-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-content:space-between;
    gap: 2vw;
    align-items: center;
    border-bottom: $secondary-color 1px solid;
}

.wind-speed{
    display: flex;
    flex-direction: row;
    gap: 1vw
}