.hourly-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1vw;
  list-style: none;
  gap: 1vw;
}

.hourly-item {
  width: 10vw;
  flex: 0 0 auto;
}

.hourly-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hour-scroll {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

@media (max-width: 600px) {
  .hourly-item {
    width: 15vw;
  }
  .hour-scroll {
    gap: 2vw;
  }
}
.week-info {
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}
.week-info li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.week-info li:last-child {
  border: none;
}

.week-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-content: space-between;
  gap: 2vw;
  align-items: center;
}

.week-item {
  margin: 0vw;
}

.wind-speed {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

@media (max-width: 820px) {
  .week-list {
    height: -moz-min-content;
    height: min-content;
    width: 100%;
  }
  .week-item {
    font-size: 2vw;
  }
}
@media (max-width: 600px) {
  .week-container {
    gap: 1vw;
    text-align: center;
  }
  .week-item {
    font-size: 4vw;
  }
  .wind-speed {
    font-size: 4vw;
  }
}
.weather-card {
  color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "main weekly" "hourly hourly";
  padding: 0vw 2vw;
  border-radius: 12px;
  gap: 1vw;
}
.weather-card .weekly {
  grid-area: weekly;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  margin-top: 2vw;
  padding: 0vw 2vw;
  justify-self: end;
  height: -moz-fit-content;
  height: fit-content;
}
.weather-card .hourly {
  grid-column: 1/-1;
  padding: 0vw 2vw;
  grid-area: hourly;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.weather-card .main-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1vw;
  grid-area: main;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  width: 100%;
}
.main-container h1 {
  font-size: 3vw;
  margin: 0;
}
.main-container h2 {
  font-size: 2vw;
  margin: 0;
}
.main-container p {
  font-size: 5vw;
  margin: 0;
}

.weather-details {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.weather-details p {
  font-size: 1.5vw;
  margin: 0;
}
.weather-details .details-item {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
}
.weather-details .details-item .details-icon {
  font-size: 1.5vw;
}

@media (max-width: 700px) {
  .weather-card {
    padding: 2vw;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "hourly" "weekly";
  }
  .weather-card .hourly {
    width: 85vw;
    justify-self: center;
  }
  .weather-card .weekly {
    width: 85vw;
    justify-self: center;
  }
  .main-container {
    gap: 3vw;
  }
  .main-container h1 {
    font-size: 7vw;
  }
  .main-container h2 {
    font-size: 4vw;
  }
  .main-container p {
    font-size: 10vw;
  }
  .main-container .weather-details {
    gap: 2vw;
  }
  .main-container .weather-details p {
    font-size: 3vw;
  }
  .main-container .weather-details .details-item {
    gap: 0.5vw;
  }
  .main-container .weather-details .details-item .details-icon {
    font-size: 3vw;
  }
}
.search-bar-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1000;
}

.search-bar {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.search {
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  height: 2.5vw;
  width: 100%;
  padding: 0 0.5vw;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 1.2vw;
}

.search::-moz-placeholder {
  color: white;
  font-size: 1.2vw;
  opacity: 0.7;
}

.search::placeholder {
  color: white;
  font-size: 1.2vw;
  opacity: 0.7;
}

.search:focus {
  outline: none;
  border: rgba(255, 255, 255, 0.3) solid 1px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
}

.search-button {
  right: 0.1vw;
  text-align: right;
  position: absolute;
  background-color: unset;
  border: none;
  margin-top: 0.1vw;
  cursor: pointer;
}
.search-button img {
  width: 2vw;
  height: 2vw;
}

.suggestions-list {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  position: absolute;
  top: calc(100% + 0.5vw);
  z-index: 1001;
  background-color: #4ea0f2;
  border: rgba(255, 255, 255, 0.3) 1px solid;
  width: 100%;
  padding: 0.2vw;
  margin-top: 0.5vw;
  border-radius: 8px;
}

.suggestion-item {
  list-style-type: none;
}

.suggestion-item:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 700px) {
  .search {
    height: 6vw;
    width: 40vw;
    font-size: 3vw;
  }
  .search::-moz-placeholder {
    font-size: 3vw;
  }
  .search::placeholder {
    font-size: 3vw;
  }
  .search-button img {
    width: 5vw;
    height: 5vw;
  }
}
.time {
  color: white;
  margin: 0;
  padding: 0 3vw;
  padding-top: 1vw;
  font-size: 1.5vw;
}

@media (max-width: 900px) {
  .time {
    font-size: 2.5vw;
    text-align: center;
  }
}
body {
  background: linear-gradient(315deg, #b4ddff 3%, #64b5f6 38%, #1976d2 68%, #42a5f5 98%);
  animation: gradient 17s ease infinite;
  background-size: 400% 400%;
  margin: none;
  font-family: "Roboto", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 100% 40%;
  }
  100% {
    background-position: 0% 40%;
  }
}/*# sourceMappingURL=style.css.map */