@import './variables';
@import './hourly';
@import './weekly';
@import './weather';

body {
    background: linear-gradient(315deg, #b4ddff 3%, #64b5f6 38%, #1976d2 68%, #42a5f5 98%);
    animation: gradient 17s ease infinite;
    background-size: 400% 400%;
    margin: none;
    font-family: 'Roboto', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 40%;
    }
    50% {
        background-position: 100% 40%;
    }
    100% {
        background-position: 0% 40%;
    }
}


